{% load static i18n %}
<header class="main-header dark-header fs-header sticky">
    <div class="header-inner">
        <div class="logo-holder">
            <a href="{% url 'pages:index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
        </div>
        
        <div class="show-reg-form"><a href="{% url 'account:login_register' %}" style="color: white;"><i class="fa fa-sign-in"></i>Sign In</a></div>
        <!-- <a href="dashboard-add-listing.html" class="add-list">Add Listing <span><i class="fa fa-plus"></i></span></a> -->
        <div class="header-user-menu" id="header-user-menu">
            <div class="header-user-name" id="header-user-name">
                <span><img src="{% static 'images/avatar/4.jpg' %}" alt=""></span>
                hello alisa
            </div>
            <ul>
                <li><a href="{% url 'account:user_dashboard' %}"> dashboard</a></li>
                <li><a href="{% url 'account:add_listings' %}"> Add Listing</a></li>
                <li><a href="{% url 'account:user_logout' %}">Log Out</a></li>
            </ul>
        </div>
        <!-- nav-button-wrap-->
        <!-- <div class="nav-button-wrap color-bg">
            <div class="nav-button">
                <span></span><span></span><span></span>
            </div>
        </div> -->
        <!-- nav-button-wrap end-->
        
        <!--  navigation -->
        <!-- <div class="nav-holder main-menu">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'pages:index' %}" class="act-link">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div> -->
        <!-- navigation  end -->
    </div>
</header>